h1      {
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
		font-size:  30px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		text-align: center;
	    }
p       {
 		color: rgb(0,0,0);
 		font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
        font-size: 18px;
        text-align: center;
        }
ul      {
 		color: rgb(0,0,0);
 		font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
        list-style-position: inside;
        font-size: 18px;
	    }
html    {
		margin: auto;
        width: 90%;
	    }
h2      {
 		color: rgb(128,0,0);
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
 		text-decoration: underline;
        text-align: center;
        font-size: 30px;
	    }
h3      {
        font-size: 18px;
        }

a       {
    	color: rgb(0,0,0);
        }
a:link  {
		background-color: rgb(255,222,173);
        }
.module {
        background: rgb(255,255,245);
        border: 10px double rgb(128,0,0);
        /*margin: %;*/
        margin-left: -4%;
        width: 102%;
        }
.name   {
        position: relative;
        height:85px;
        width: 100%;
        background-color: rgb(255,255,255);
        margin-left:6%;
        }
.wow    {
        text-align: center;
        font-size: 13px;
        text-align: center;
        margin:-18px;
        }
@media only print {
                    h1 {font-size:30px;}
                    .module{margin-left: -12%;width: 450px; float: left;}
                    .wow{text-align: center;margin:-19px;}        
}

@media only screen and (min-width: 768px) 
{
        .module     {margin-left: -6%;width: 109%;}
        .wow        {text-align: center;margin:-25px;font-size:1.5rem;}
        .name       {height: 7rem;width:597px;}
        h1          {font-size: 3rem;}
        h2          {font-size: 1.5em;}
        h3          {font-size: 1.5em}
        p           {font-size: 1.5em}
        ul          {font-size: 1.5em}
}
@media only screen and (min-width: 1020px) 
{
        .module         {width: 109%;}    
        .wow            {text-align: center;margin:-46px;font-size: 2rem}
        .name           {height: 12rem;width:88%;}
        h1              {font-size: 5em}
        h2              {font-size: 3em}
        h3              {font-size: 2em}
        p               {font-size: 1.5em}
        ul              {font-size: 1.5em}
    }